body {
    font-family: 'Krona One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

header .logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

h1 span {
    color: #4366E4;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #4366E4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3658a4;
}
